/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'reset.css';

 body {
   font-family: 'Roboto', sans-serif;
 }

 h1 {
   font-size: 32px;
 }

 label {
   font-size: 11px;
   font-weight: 200;
   text-transform: uppercase;
   color: #848f99;
   margin-bottom: 7px;
   letter-spacing: 0.5px;
 }

 input {
   border: 1px solid #d5dce0;
   border-radius: 3px;
   height: 40px;
   width: 400px;
   padding: 0 0 0 10px;
   color: black;
   font-size: 14px;
 }

 input:focus {
   border-color: #b7bfc6;
   box-shadow: inset 0px 1px 1px 0px #edf1f2;
 }

 button {
   background: #14aaf5;
   border: 1px solid #14aaf5;
   height: 40px;
   line-height: 40px;
   padding: 0 15px;
   color: white;
   align-items: center;
   border-radius: 3px;
   cursor: pointer;
   font-size: 13px;
 }

 button:hover {
   box-shadow: inset 0 0 transparent, 0 0 0 3px #95e0ff;
   background: #32c1ff;
   border-color: #32c1ff;
   transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
 }

/* main app view '/' */
 .vinyasa_ui {
   display: flex;
   flex: 1;
   min-height: 1px;
   overflow: hidden;
   bottom: 0;
   left: 0;
   overflow-x: auto;
   overflow-y: hidden;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 0;
 }

 .vinyasa_main {
   display: flex;
   flex: 1;
   flex-direction: column;
   min-width: 1px;
   position: relative;
   z-index: 0;
 }

 .vinyasa_main_body_container {
   background: #F5F7F8;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   min-height: 1px;
   position: relative;
 }

 .page-header {
   display: block;
   height: 65px;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
   z-index: 1;
 }

 .page-header-title {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .page-header-title h1 {
   font-size: 32px;
   padding: 2px 0 2px 0;
 }

 .page-header-title h4 {
   font-size: 16px;
   margin: 0;
   font-weight: 300;
 }

 .sidebar {
   background: #242B36;
   display: flex;
   flex-direction: column;
   width: 244px;
   color: #fff;
   overflow: auto;
 }

 .sidebar-section {

 }

.sidebar-title {
   border-bottom: 1px solid #646f79;
   font-size: 16px;
   padding-bottom: 5px;
   color: #9ca6af;
   padding: 5px 10px 5px 15px;
   display: flex;
   font-size: 16px;
   font-weight: 400;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 20px;
 }

.sidebar-list {
  display: block;
  padding: 10px;
  width: inherit;
  padding: 2px 0 10px 10px;
  margin-top: 10px;
}

.sidebar-list li {
   font-weight: 200;
   font-size: 13px;
   cursor: pointer;
   overflow: hidden;
}

 .sidebar-list li a {
   display: block;
   padding: 5px;
 }

 .sidebar-list li:hover {
   background-color: #646f79;
 }

 .XIcon {
   height: 16px;
   width: 16px;
   cursor: pointer;
   position: absolute;
   right: 15px;
   top: 15px;
   fill: #b7bfc6;
 }

 .XIcon:hover {
   fill: #32c1ff;
 }

 .PlusIcon {
   background: transparent;
   border: 1px solid #9ca6af;
   color: #9ca6af;
   fill: #9ca6af;
   float: right;
   margin-top: -2px;
   overflow: hidden;
   border-radius: 50%;
   padding: 2px;
   cursor: pointer;
   height: 10px;
   width: 10px;
 }

 .PlusIcon:hover {
   background: #fff;
   color: #9ca6af;
   fill: #9ca6af;
   transition: background 300ms,border 200ms,box-shadow 200ms,color 200ms;
 }

 .modal-form label input {
   margin-right: 20px;
 }

 .modal-form ul {
   color: red;
 }

 .modal-form button {
   margin-top: 20px;
   float: right;
   margin-right: 20px;
 }

 .modal-form-header {
   color: #151b26;
   font-size: 24px;
   font-weight: 500;
   line-height: 1.2;
   border-bottom: 1px solid #e0e6e8;
   border-radius: 3px 3px 0 0;
   padding: 10px 20px 0 0;
   position: relative;
   margin-bottom: 15px;
 }

 .sidebar-logo {
   background-image: url("https://d3ki9tyy5l5ruj.cloudfront.net/obj/3ac85a538c3fc5bb08d0206ede04ae8aa13c20b2/inapp__logo_color_ondark_horizontal.svg");
   background-repeat: no-repeat;
   align-items: center;
   background-position: 13px 10px;
   display: flex;
   height: 40px;
   flex-shrink: 0;
   justify-content: flex-end;
   background-size: 110px;
 }

 .topbar {
   background: #fff;
   border-bottom: 1px solid #e0e6e8;
   min-width: 920px;
   height: 41px;
   flex-shrink: 0;
   display: flex;
   justify-content: space-between;
   padding: 0 100px 0 100px;
   z-index: 2;
   color: #848f99;
 }

 .topbar-left {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .topbar-left:hover {
   color: #14aaf5
 }

 .topbar-right {
   display: flex;
   flex-direction: row;
   padding: 5px 80px 7px 0;
   align-items: center;
 }

 .topbar button {
   height: 20px;
   line-height: 5px;
   display: inline;
   padding: 5px 5px;
   margin-left: 10px;
 }

 .topbar-right p {
   cursor: pointer;
 }

 .topbar-right p:hover {
   color: #14aaf5;
 }

 .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #14aaf5;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.new-team {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.new-team:hover {
  background: #14aaf5;
  color: white;
}

 .show-page-index-header {
   position: fixed;
   top: 7%;
   left: 46%;
   right: 50%;
   width: 100%;
   color: black
 }

 .show-page-index-list {
   border-radius: 3px 3px 0 0;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
   padding: 10px;
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 200px;
 }


 .show-page-index-list h3{
   margin-top: 10px;
   padding-bottom: 5px;
   border-bottom: 1px solid gray;
   width: 100%;
   margin-bottom: 8px;
   text-align: center;
 }

 .show-page-index-list li{
   padding: 7px;
 }

 .center-pane {
   flex: 1;
   display: flex;
   flex-direction: column;
   min-width: 405px;
   background: white;
   margin: 20px 90px 0 90px;
   transition: margin-left 0.25s ease-out, width 0.25s ease-out;
   max-width: 1000px;
   flex: 5500 1 605px;
   border-radius: 3px 3px 0 0;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
 }

 .right-pane-container {
   margin-left: -675px;
   display: flex;
   flex-direction: column;
   flex: 4500 0 495px;
   justify-content: flex-start;
   transition: margin-left 0.2s;
   max-width: 675px;
   position: relative;
   z-index: 0;
 }

 .task-item {
   height: 36px;
 }

 .task-content {
   
 }

 .fa-check-circle {
   width: 18px;
   height: 18px;
   margin: 0 10px 0 0;
   transition: 200ms box-shadow,200ms color,200ms background,200ms fill;
   color: #848f99;
   fill: #848f99;
   border-radius: 50%;
   font-size: 20px;
 }

 .fa-check-circle:hover {
   cursor: pointer;
   background-color: #e2fffa;
   border-color: #25e8c8;
   fill: #25e8c8;
 }

/* auth stuff */
.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, rgba(255,82,99,0.9) 10%, rgba(255,115,129,0.9) 65%, rgba(252,189,1,0.9) 125%);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.site-title {
  color: white;
  position: fixed;
  top: 18%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -50px;
}

.auth-footer {
  width: 585px;
  align-items: center;
  height: 30px;
  margin-top: 15px;
  color: white;
  padding-top: 10px;
  display: inherit;
  justify-content: center;
}

.auth-footer a {
  border: 1px solid white;
  background-color: transparent;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  color: white;
  transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
}

.auth-footer a:hover {
  background-color: #fff;
  border-color: #f0f0ff;
  color: #646f79;
}

.login-title {
  line-height: 40px;
  padding: 80px 30px 30px;
}

/* auth form */
.auth-form-container {
  border-radius: 3px;
  width: 585px;
  height: 562px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.auth-form-container li{
  color: red;
}

.form-input {
  margin-top: 30px;
  text-align: left;
}

.form-input label {
  margin-bottom: 7px;
}

.demo{
  background: #5354C0;
  margin-left: 13px;
  border: none;
}

.demo:hover {
  box-shadow: inset 0 0 transparent, 0 0 0 3px #5469bf;
  background: #594fc7;
  border-color: #594fc7;
  transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
}
